<ion-view view-title="login">
  <ion-content>
  <ion-list>
  <ion-item>
  <div style="text-align:center" ng-if="!myuserdata.isSignedIn">
<button class="button button-calm icon ion-social-google button-round" ng-click="login('google')"></button>
  <button class="button button-calm icon ion-social-twitter button-round" ng-click="login('twitter')"></button>
    <button class="button button-positive icon ion-social-facebook button-round" ng-click="login('facebook')"></button>
    <button class="button button-royal icon ion-social-github button-round" ng-click="login('github')"></button>

 </div>
 </ion-item>
    
    <ion-item  style="text-align: center">
        To login click above buttons
    </ion-item>
    </ion-list>
	<div style="text-align: center" ng-if="myuserdata.isSignedIn">
			<img src={{myuserdata.photoURL}} style="width: 64px; height: 64px; border-radius: 50%">
			<h3>{{myuserdata.email}}</h3>
		</div>
		<ion-list ng-if="myuserdata.isSignedIn">
			<ion-item ng-click="logout()" class="item item-borderless" style="text-align: center">
				<h2>Logout</h2>
			</ion-item>
		</ion-list>
		
		
  </ion-content>
</ion-view>
